@import "mixins";

.header__top{
    @include flex-between;
    background-color: #27262A;
    padding: 20px 10px;
    position: relative;
    
}

.header__top .btn{
    font-size: 15px;
    width: 119px;
    height: 37px;
    font-weight: 700;
}

.header__top nav{
    position: absolute;
    background-color:#333333;
    width: 95%;
    left: 2.5%;
    transition: 0.3s;
    top: 100%;
    height: 0;
    overflow: hidden;
}

.header__top nav.show{
    height: 272px;
}



.header__top nav a{
    display: block;
    color: white;
    padding: 20px 30px;
    font-size: 20px;
    border-bottom: 1px solid#3B3B3B;
    position: relative;
}

.header__top .active-border{
    width: 10px;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 0;
    background-color: $main-text-color;
    z-index: 2;
}

.menu-btn{
    cursor: pointer;
}

.header__logo{
    @include flex-center;
}

.header__forkio-title{
    color: $main-text-color;
    padding: 5px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}

@media (min-width: 481px){

.header__logo, .header__top .btn{
    margin-top: 10px;
}

.header__forkio-title{
    display: block;
}



.menu-btn{
    display: none;
}

.header__top{
    height: 118px;
    align-items: flex-start;
}


.header__top nav{
    
    @include flex-center;
    height: 100%;
    background-color: transparent;
    top: 30%;
    
}

.header__top nav a{
    border: none;
    color:$main-text-color;
}

.header__top nav a:hover{
    color: white;
}
}
